@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold text-primary">Welcome to Deluxe Calculator App!</h1>
    <p class="lead text-muted">Empowering your calculations with precision and efficiency.</p>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Explore the Features</h5>
                    <p class="card-text">Perform accurate calculations, store results, and enjoy a seamless experience.
                    </p>
                    <a href="calculator" class="btn btn-primary btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="mt-5 text-muted small">
        <p>Built with ❤️ using Blazor & .NET 8</p>
    </footer>
</div>
